# comment out the other "config led wan" section to use this one
#config led wan
#	option colorfunction 'dualbandwidth'
#	option interface 'eth1'
#	option limit_in 300000000
#	option limit_out 200000000
#       option nominal "0x00FF00"
#       option critical_in "0xFF0000"
#       option critical_out "0x0000FF"

config led wan
        option colorfunction 'bandwidth'
        option interface 'eth2'
        option direction 'in'
        option limit 300000000
        option nominal "0x00FF00"
        option critical "0xFF0000"

config led lan0
        option colorfunction 'bandwidth'
        option interface 'lan0'
        option direction 'out'
        option limit 300000000
        option nominal "0x00FF00"
        option critical "0xFF0000"

config led lan1
        option colorfunction 'bandwidth'
        option interface 'lan1'
        option direction 'out'
        option limit 300000000
        option nominal "0x00FF00"
        option critical "0xFF0000"

config led lan2
        option colorfunction 'bandwidth'
        option interface 'lan2'
        option direction 'out'
        option limit 300000000
        option nominal "0x00FF00"
        option critical "0xFF0000"

config led lan3
        option colorfunction 'bandwidth'
        option interface 'lan3'
        option direction 'out'
        option limit 300000000
        option nominal "0x00FF00"
        option critical "0xFF0000"

config led lan4
        option colorfunction 'bandwidth'
        option interface 'lan4'
        option direction 'out'
        option limit 300000000
        option nominal "0x00FF00"
        option critical "0xFF0000"

config led lan5
        option colorfunction 'bandwidth'
        option interface 'lan5'
        option direction 'out'
        option limit 300000000
        option nominal "0x00FF00"
        option critical "0xFF0000"

# pci3 led
config led wlan3
        option colorfunction 'ath9k'
        option interface 'wlan1'
        option nominal "0x00FF00"
        option critical "0xFF0000"

# pci2 led
config led wlan2
        option colorfunction 'ath10k'
        option phy 'phy0'
        option nominal "0x00FF00"
        option critical "0xFF0000"
